.layout-main {
    height: 100vh;
    background-image: url("../../public/background1.jpg");
    background-size: cover;
    background-position: center top;

    .content {
        height: 100%;
        width: 100%;
        padding: 10vh 15vw;
    
        .logo {
            background-image: url("../../public/eps_logo_big.png");
            background-size: contain;
            width: 100%;
            height: 80%;
            background-repeat: no-repeat;
            background-position: 50%;

            
        }
        .contacts {
            height: 20%;
            width: 100%;
            a {
                color: white;
                height: 100%;
                width: fit-content;
                font-size: 40px;
            }
        }
    }
}


