.App {
  text-align: center;
}

.sider {
  background: transparent;
  position: absolute;
  margin-top: calc(12vh + 40px);
  overflow: hidden;
  margin-left: 2vh;
  ul {
    background: transparent; 
    li.ant-menu-item-selected {
      background: transparent; 
    }

    a {
  text-align: center;

      color: white !important;
    }
  }

  background: linear-gradient(#00000069, #353535bd);
  border-radius: 1vh;
  box-shadow: inset 0 0 1px 1px rgb(80, 80, 80);


  li:active {
    background-color: gray !important;
  }
  .collapser {
    position: fixed;
    width: 150px;
    height: 40px;
    top: 12vh;

    background: transparent;
    border: solid 1px white;

    color: white;

    &:hover {
      color: white !important;
    }
  }
}